<section class="nav-mobile">
  <img src="/picture/icons/icon_menu.svg" alt="Abrir menú" class="menu-icon" />
  <figure class="logo-mobile">
    <img src="/picture/Logos/Logo_Moblle.png" alt="Tech Master logo" />
  </figure>
</section>

<nav class="mobile-menu inactive" aria-label="Menú móvil">
  <section class="mobile-menu-container">
    <section class="mobile-menu-logo">
      <img src="/picture/Logos/LogoMenuMovil.png" alt="Tech Master" />
    </section>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/services.html">Servicios</a></li>
      <li><a href="/equipos.html">Equipos</a></li>
      <li><a href="/contact.html">Contacto</a></li>
    </ul>
  </section>
</nav>

<section class="navbar-left">
  <figure class="logonav">
    <img src="/picture/Logos/LogoPortada_WEB.png" alt="Tech Master logo" />
  </figure>
</section>

<section class="navbar-center">
  <nav aria-label="Menú principal">
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/services.html">Servicios</a></li>
      <li><a href="/equipos.html">Equipos</a></li>
      <li><a href="/contact.html">Contacto</a></li>
    </ul>
  </nav>
</section>
