nav {
  margin: 8px;
}
.portada img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 12px;
}
.about-us_seccion {
  width: 30%;
  margin: 8px;
  place-content: start ;
}
.propuesta_valor {
 display: flex;
 flex-wrap: nowrap; 
 padding-top: 15px;
 padding-bottom: 15px; 
}
.propuesta_valor .propuesta_valor_text{
  width: 50%;
}
.container_servicios {
  padding-bottom: 15px;
  padding-top: 15px;
}
.container_servicios_box {
  justify-content: space-between;
}
.servicio_box {
  width: 13%;
}
.logo_text img {
  width: 70%;
  height: 110px;
}
.logo1 {
 margin: 8px;
}
.logo1 img {
  display: block;
  width: 100%;
  height: 110px;
}
.logo2 {
  margin: 8px;
}
.logo2 img {
  display: block;
  width: 100%;
  height: 110px;
}
.servicio_container {
  justify-content: space-between;
}
.servicio_text {
  width: 45%;
}
.servicio_container figure {
  width: 50%;
}

.servicio_container img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}